web/WEB-INF/wsdl/localhost_8080/NewSumFreeService/NewSumFreeService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://NewSumFreeService.Server.NewSumServer.scify.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://NewSumFreeService.Server.NewSumServer.scify.org/" name="NewSumFreeService">
<types>
<xsd:schema>
<xsd:import namespace="http://NewSumFreeService.Server.NewSumServer.scify.org/" schemaLocation="http://localhost:8080/NewSumFreeService/NewSumFreeService?xsd=1"/>
</xsd:schema>
</types>
<message name="getCategories">
<part name="parameters" element="tns:getCategories"/>
</message>
<message name="getCategoriesResponse">
<part name="parameters" element="tns:getCategoriesResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getLinkLabels">
<part name="parameters" element="tns:getLinkLabels"/>
</message>
<message name="getLinkLabelsResponse">
<part name="parameters" element="tns:getLinkLabelsResponse"/>
</message>
<message name="getSummary">
<part name="parameters" element="tns:getSummary"/>
</message>
<message name="getSummaryResponse">
<part name="parameters" element="tns:getSummaryResponse"/>
</message>
<message name="getTopicsByKeyword">
<part name="parameters" element="tns:getTopicsByKeyword"/>
</message>
<message name="getTopicsByKeywordResponse">
<part name="parameters" element="tns:getTopicsByKeywordResponse"/>
</message>
<message name="getTopics">
<part name="parameters" element="tns:getTopics"/>
</message>
<message name="getTopicsResponse">
<part name="parameters" element="tns:getTopicsResponse"/>
</message>
<portType name="NewSumFreeService">
<operation name="getCategories">
<input wsam:Action="http://NewSumFreeService.Server.NewSumServer.scify.org/NewSumFreeService/getCategoriesRequest" message="tns:getCategories"/>
<output wsam:Action="http://NewSumFreeService.Server.NewSumServer.scify.org/NewSumFreeService/getCategoriesResponse" message="tns:getCategoriesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://NewSumFreeService.Server.NewSumServer.scify.org/NewSumFreeService/getCategories/Fault/Exception"/>
</operation>
<operation name="getLinkLabels">
<input wsam:Action="http://NewSumFreeService.Server.NewSumServer.scify.org/NewSumFreeService/getLinkLabelsRequest" message="tns:getLinkLabels"/>
<output wsam:Action="http://NewSumFreeService.Server.NewSumServer.scify.org/NewSumFreeService/getLinkLabelsResponse" message="tns:getLinkLabelsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://NewSumFreeService.Server.NewSumServer.scify.org/NewSumFreeService/getLinkLabels/Fault/Exception"/>
</operation>
<operation name="getSummary">
<input wsam:Action="http://NewSumFreeService.Server.NewSumServer.scify.org/NewSumFreeService/getSummaryRequest" message="tns:getSummary"/>
<output wsam:Action="http://NewSumFreeService.Server.NewSumServer.scify.org/NewSumFreeService/getSummaryResponse" message="tns:getSummaryResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://NewSumFreeService.Server.NewSumServer.scify.org/NewSumFreeService/getSummary/Fault/Exception"/>
</operation>
<operation name="getTopicsByKeyword">
<input wsam:Action="http://NewSumFreeService.Server.NewSumServer.scify.org/NewSumFreeService/getTopicsByKeywordRequest" message="tns:getTopicsByKeyword"/>
<output wsam:Action="http://NewSumFreeService.Server.NewSumServer.scify.org/NewSumFreeService/getTopicsByKeywordResponse" message="tns:getTopicsByKeywordResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://NewSumFreeService.Server.NewSumServer.scify.org/NewSumFreeService/getTopicsByKeyword/Fault/Exception"/>
</operation>
<operation name="getTopics">
<input wsam:Action="http://NewSumFreeService.Server.NewSumServer.scify.org/NewSumFreeService/getTopicsRequest" message="tns:getTopics"/>
<output wsam:Action="http://NewSumFreeService.Server.NewSumServer.scify.org/NewSumFreeService/getTopicsResponse" message="tns:getTopicsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://NewSumFreeService.Server.NewSumServer.scify.org/NewSumFreeService/getTopics/Fault/Exception"/>
</operation>
</portType>
<binding name="NewSumFreeServicePortBinding" type="tns:NewSumFreeService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getLinkLabels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getSummary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getTopicsByKeyword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getTopics">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="NewSumFreeService">
<port name="NewSumFreeServicePort" binding="tns:NewSumFreeServicePortBinding">
<soap:address location="http://localhost:8080/NewSumFreeService/NewSumFreeService"/>
</port>
</service>
</definitions>